// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #000000 !default;
$header-bg-color-secondary: #010136 !default;

// Text
$section-headings-color: #00d068 !default;
$body-text-color: #dbf4ff !default;
$body-link-color: #470b00 !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #5c0e42 !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Path to folder with images
$image-path: "../images/";