---
layout: default
---
<article>
    <link rel="stylesheet" href="{{ '/assets/css/portfolio.css' | relative_url }}">

    <div class="portfolio">
        {{ content }}
        <div class="project clearfix">
            <div class="imgdiv">
              <a href="{{ '/travels.html' | relative_url }}" target="_blank">
                <img src="/assets/images/travels_lada.jpg" alt="rt face mask detector">
                <img src="/assets/images/travels_lada.jpg" alt="rt face mask detector">
              </a>
            </div>
            <div class="aboutproject">
              <h2>Travels</h2>
              <p>Challenging trips are the most enjoyable ones. All you have to do is just set out.</p>
            </div>  
          </div>
    </div>
</article>