---
layout: default
---
<article>
    <link rel="stylesheet" href="{{ '/assets/css/portfolio.css' | relative_url }}">

    <div class="portfolio">
        {{ content }}

    
        <div class="project clearfix">
            <div class="imgdiv">
              <a href="https://github.com/jkwiatk1/WSI" target="_blank">
                <img src="assets/images/projects_python.jpg" alt="ai projects">
                <img src="assets/images/projects_nN.jpg" alt="ai projects">
              </a>
            </div>
            <div class="aboutproject">
              <h2>Introduction to Artificial Intelligence with Python</h2>
              <p>The repository contains implementations of such architectures as genetic and classification algorithms, two-player games, and neural networks in various applications. Detailed documentation can be found with each project. </p>
            </div>  
        </div>

        <div class="project clearfix">
            <div class="imgdiv">
                <a href="https://github.com/jkwiatk1/MED" target="_blank">
                <img src="assets/images/projects_python.jpg" alt="data mining projects">
                <img src="assets/images/pytorch.jpg" alt="data mining projects">
              </a>
            </div>
            <div class="aboutproject">
              <h2>Data Mining</h2>
              <p>Discovering association rules (Apriori algorithm) for a 4-level hierarchy of items. </p>
            </div>  
          </div>

          
        <div class="project clearfix">
          <div class="imgdiv">
              <a href="https://github.com/jkwiatk1/NLP" target="_blank">
              <img src="assets/images/projects_python.jpg" alt="NLP projects">
              <img src="assets/images/pytorch.jpg" alt="NLP projects">
            </a>
          </div>
          <div class="aboutproject">
            <h2>Natural language processing</h2>
            <p>The project had to pretrain the RoBERT model (unsupervised pre-training and pre-training as a classifier), adapted to determine the interpretable semantic similarity (iSTS) of two sentences in English. </p>
          </div>  
        </div>

        <div class="project clearfix">
          <div class="imgdiv">
              <a href="https://github.com/jkwiatk1/PROI-project" target="_blank">
              <img src="assets/images/projects_python.jpg" alt="c++ projects">
              <img src="assets/images/pytorch.jpg" alt="c++ projects">
            </a>
          </div>
          <div class="aboutproject">
            <h2>Data Base for hospital</h2>
            <p>A group project from a C++ course. More details on the project structure: <a href="https://github.com/jkwiatk1/PROI-project/blob/master/doc/doc.pdf" style="text-decoration: none;color: #1F2833;"> [link].</a></p>
         </div>  
        </div>
    </div>
</article>