---
layout: default
---
<article>
    <link rel="stylesheet" href="{{ '/assets/css/portfolio.css' | relative_url }}">

    <div class="portfolio">
        {{ content }}

        <div class="project clearfix">
            <div class="imgdiv">
              <a href="{{ '/travels.html' | relative_url }}" target="_blank">
                <img src="/assets/images/travels_lada.jpg" alt="My travels">
                <img src="/assets/images/travels_lada.jpg" alt="My travels">
              </a>
            </div>
            <div class="aboutproject">
              <h2>Travels</h2>
              <p>Challenging trips are the most enjoyable ones. All you have to do is just set out.</p>
            </div>  
          </div>

          <div class="project clearfix">
            <div class="imgdiv">
              <a href="{{ '/sports.html' | relative_url }}" target="_blank">
                <img src="/assets/images/sports_cycling.jpg" alt="Sports">
                <img src="/assets/images/sports_cycling.jpg" alt="Sports">
              </a>
            </div>
            <div class="aboutproject">
              <h2>Sports carrier</h2>
              <p>I have been involved in sports all my life. I believe that physical activity is the basis when pursuing other goals. It taught me discipline and cooperation. </p>
            </div>  
          </div>

          <div class="project clearfix">
            <div class="imgdiv">
              <a href="{{ '/diy.html' | relative_url }}" target="_blank">
                <img src="/assets/images/diy_gt500.jpg" alt="Mechanics">
                <img src="/assets/images/diy_911gt3.jpg" alt="Mechanics">
              </a>
            </div>
            <div class="aboutproject">
              <h2>Vehicle mechanics and DIY </h2>
              <p>I have been intrested in electronics, vehicle mechanics and DIY. </p>
            </div>  
          </div>
    </div>
</article>