---
layout: default
---
<article>
    <link rel="stylesheet" href="{{ '/assets/css/portfolio.css' | relative_url }}">

    <div class="portfolio">
        {{ content }}
        <div class="project clearfix">
            <div class="imgdiv">
              <a href="https://github.com/jkwiatk1">
                <img src="/assets/images/pytorch-nh.jpg" alt="rt face mask detector">
                <img src="/assets/images/pytorch.jpg" alt="rt face mask detector">
              </a>
            </div>
            <div class="aboutproject">
              <h2>Artificial Intelligence with Python</h2>
              <p>My projects made for college Neural Networks classes. Repository contains implementations of architectures like...</p>
            </div>  
          </div>
    </div>
</article>